title= title
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel='stylesheet')
    link(href="bower_components/font-awesome/css/font-awesome.min.css", rel='stylesheet')
    link(href="css/style.css", rel='stylesheet')

  body
    .container
      .row
        h1  MY HOMMIES
      .row
        input#fname(type='text')
        | First Name
        input#lname(type='text')
        | Last Name
        input#email(type='text')
        | email
        input#phone(type='text')
        | Phone
        input#twit(type='text')
        | twitter
        button#add ADD
        p Edit/Delete
         .row
        table.table.table-hover
          thead
            tr.col-sm-2.col-md-2.col-lg.2
              th.col-sm-2.col-md-2.col-lg.2 First Name
              th.col-sm-2.col-md-2.col-lg.2 Last Name
              th.col-sm-2.col-md-2.col-lg.2 email
              th.col-sm-2.col-md-2.col-lg.2 Phone
              th.col-sm-2.col-md-2.col-lg.2 Twitter
              th.col-sm-2.col-md-2.col-lg.2 Edit/Delete
            tr
          tbody#cList

    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='js/contacts/main.js')
