doctype html
html(lang="en")
  head
    title Home
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(href="css/style.css", type="text/css", rel="stylesheet")
    .container
      br
      .jumbotron
        h1 MY HOMMIES!
       table
       thead
        tr
          th(class="col-sm-2") First Name
          th(class="col-sm-2") Last Name
          th(class="col-sm-2") email
          th(class="col-sm-2") Phone
          th(class="col-sm-2") twitter
        tbody
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='js/main.js')
