title= title
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel='stylesheet')
    link(href="bower_components/font-awesome/css/font-awesome.min.css", rel='stylesheet')
    link(href="css/style.css", rel='stylesheet')

  body
   .container
        - var properties = ['First name', 'Last name' ,'phone', 'email', 'twitter']
        .row
          h1= title
        .row
          each prop in properties
            label #{prop.toUpperCase()}:
            input(id= prop)
          button.btn#add Add
        .row
          table.table.table-hover
            thead
              tr
                each prop in properties
                  th= prop
                th: th
            tbody#cList


    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='js/contacts/main.js')
