doctype html
html(lang="en")
  head
    title Home
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(href="css/style.css", type="text/css", rel="stylesheet")
    .container
      br
      .jumbotron
        h1 MY HOMMIES!
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='js/main.js')
